# Interface graphique et Multimédia
PySide6==6.6.1
PySide6-Addons==6.6.1
pygame==2.5.2

# Traitement d'image et Avatar
opencv-python==4.9.0.80
numpy==1.26.4

# Communication
websockets==13.0.1
httpx==0.27.2

# Audio
pyaudio==0.2.14

# Utils
python-dotenv==1.0.1
aiofiles==24.1.0